---
layout: page
title: ДОМІШКИ БЕЗПЕКИ
subtitle: лабораторія кібернетично-параноїдального синтезу
---

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Опубліковано {{ post.date | date: "%Y-%m-%d" }}
    </p>

    <div class="post-entry">
      {{ post.excerpt | markdownify }}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Читати&nbsp;далі]</a>
    </div>

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.next_page %}
  <li class="previous">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; В минуле</a>
  </li>
  {% endif %}
  {% if paginator.previous_page %}
  <li class="next">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">В майбутнє &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
